/* Version 0.03a
Copyright by: Cremotdesign.com @ 2016
Github: https://github.com/Schmidtwar/SkylishCSS
*/


/* CENTER THE GRID  */
.main-grid-center {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1%;
  text-align: center;
  }
  /* MAKES GRID TO THE RIGHT */
  .main-grid-right {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1%;
    text-align: right;
    }
    /* MAKES GRID TO THE LEFT */
    .main-grid-left {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 1%;
      text-align: left;
      }

/* ROW STARTS HERE INLINE */
.sky-row-10 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  min-width: 150px;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
  text-align: center;
  }

.sky-row-20 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-width: 150px;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-30 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-width: 250px;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-40 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-60 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-70 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-80 {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-90 {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-row-100 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

/* COLUMN */
