/* Version 0.5
Copyright by: Cremotdesign.com @ 2016
Github: https://github.com/Schmidtwar/SkylishCSS
*/


/* Breakers */
.sky-space {
  display: inline-block;
  width: 100%;
}
.sky-space-25px {
  display: inline-block;
  width: 100%;
  height: 25px;
}
.sky-space-35px {
  display: inline-block;
  width: 100%;
  height: 35px;
}
.sky-space-45px {
  display: inline-block;
  width: 100%;
  height: 45px;
}
/* CENTER THE GRID  */
.main-grid-center {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1%;
  text-align: center;
  }
  /* MAKES GRID TO THE RIGHT */
  .main-grid-right {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1%;
    text-align: right;
    }
    /* MAKES GRID TO THE LEFT */
    .main-grid-left {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 1%;
      text-align: left;
      }


.sky-column-10, .sky-column-20, .sky-column-30,
.sky-column-40, .sky-column-50, .sky-column-60,
.sky-column-70, .sky-column-80, .sky-column-90,
.sky-column-100 {
  vertical-align: top;
}
/* column STARTS HERE INLINE */
.sky-column-10 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  min-width: 150px;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
  text-align: center;
  }

.sky-column-20 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-width: 150px;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-30 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-width: 250px;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-40 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-60 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-70 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-80 {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-90 {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}

.sky-column-100 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  min-height: 200px;
  background: rgb(230, 230, 230);
text-align: center;
}
